<div class="container">
    <h2>Create Product</h2>
  
    <div *ngIf="isProductCreated" class="alert alert-success">
      Product created successfully!
    </div>

    <form [formGroup]="productFrom" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="category">Category</label>
        <select
            id="category"
            formControlName="category"
            class="form-control"
            [ngClass]="{'is-invalid': productFrom.get('category')?.invalid && productFrom.get('category')?.touched}"
          >
            <option value="" disabled selected>Select a category</option>
            <option value="TECHNICAL">Техника</option>
            <option value="CLOTHING">Одежда</option>
            <option value="FOOD">Еда</option>
          </select>
          <div *ngIf="productFrom.get('category')?.invalid && productFrom.get('category')?.touched" class="invalid-feedback">
            Category is required.
          </div>
      </div>
  
      <div class="form-group">
        <label for="courier">Courier</label>
        <input
          id="courier"
          formControlName="courier"
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': productFrom.get('courier')?.invalid && productFrom.get('courier')?.touched}"
        />
        <div *ngIf="productFrom.get('courier')?.invalid && productFrom.get('courier')?.touched" class="invalid-feedback">
          Courier is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="senderId">Sender ID</label>
        <mat-select formControlName="senderId"  class="form-control"  >
          <mat-option *ngFor="let user of users" [value]="user.id">
            {{user.username}}
          </mat-option>
        </mat-select>
        <div *ngIf="productFrom.get('senderId')?.invalid && productFrom.get('senderId')?.touched" class="invalid-feedback">
          Sender ID is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="receiverId">Receiver ID</label>
        <!-- <input
          id="receiverId"
          formControlName="receiverId"
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': productFrom.get('receiverId')?.invalid && productFrom.get('receiverId')?.touched}"
        /> -->
        <mat-select formControlName="receiverId"  class="form-control"  >
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{user.username}}
            </mat-option>
          </mat-select>
        <div *ngIf="productFrom.get('receiverId')?.invalid && productFrom.get('receiverId')?.touched" class="invalid-feedback">
          Receiver ID is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="name">Product Name</label>
        <input
          id="name"
          formControlName="name"
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': productFrom.get('name')?.invalid && productFrom.get('name')?.touched}"
        />
        <div *ngIf="productFrom.get('name')?.invalid && productFrom.get('name')?.touched" class="invalid-feedback">
          Product Name is required.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="productFrom.invalid">Create Product</button>
    </form>

    <div class="mt-4">
      <h3>Product List</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Status</th>
            <th>Courier</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.status }}</td>
            <td>{{ product.courier }}</td>
            <td>{{ product.sender }}</td>
            <td>{{ product.receiver }}</td>
            <td>
              <!-- Кнопка "Получить заказ", которая видна только при статусе IN_TRANSIT -->
              <button *ngIf="product.status === 'IN_TRANSIT'" class="btn btn-success" (click)="updateProduct(product.id)">
                Получить заказ
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
